html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#output {
    display: inline-block;
    font-size: 16px;
    background-color: black;
    color: white;
    padding: 20px;
}

#sayHello {
    display: block;
}